{% extends "layout.html" %}
{% block title %}Quizzes{% endblock %}


{% block content %}

{% from "form.html" import render_field %}
    <form class="form-inline" method=post action="/add">
        {{ render_field(form.question) }}
        {{ render_field(form.man_temp) }}
        {{ render_field(form.woman_temp) }}
        {{ render_field(form.status) }}

        <p><input class="w3-btn w3-light-grey w3-padding-large w3-hover-grey" type=submit value=Register></p>
</form>


<div>
    {% for quizz in quizzes %}
        <p>{{ quizz.id }} | {{ quizz.question }}</p>
    {% endfor %}
</div>

<form class="form" action="/delete" method='POST'>
     <input name="id" type="text" />
     <input type="submit" value="Delete quizz" />
</form>

{% endblock %}